@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'montserrat', sans-serif;
  background-color: #f8f8f8;
}

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 1rem 1rem 0 1rem;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.nav-icon {
  font-size: 1.5rem;
  align-self: center;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  text-align: center;
}

.navbar {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-title a {
  text-decoration: none;
  padding: 1rem;
  color: transparent;
}

.nav-title span {
  background: linear-gradient(138deg, rgba(50, 181, 221, 0.5), rgba(146, 21, 21, 0.5));
  background-clip: initial;
  -webkit-background-clip: text;
}

.nav-item a {
  text-decoration: none;
  color: #000;
  padding: 1rem;
}

.nav-title a:hover,
.nav-item a:hover {
  font-weight: bold;
}

.nav-title a:active,
.nav-item a:active {
  background-color: rgb(200, 200, 200, 0.1);
  border-radius: 1rem;
}

.home-container {
  background: linear-gradient(138deg, rgba(146, 21, 21, 0.5), rgba(50, 181, 221, 0.5));
  display: grid;
  place-items: center;
  height: calc(100vh - 4.5rem);
}

.home-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.home-title {
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;
  color: #fff;
  text-align: center;
}

.home-p {
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  text-align: center;
}

.categories-container {
  display: flex;
  gap: 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 4rem;
}

.msg {
  padding: 4rem;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 0.5rem;
}

.list-container {
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
}

.divider {
  height: 1px;
  background-color: #e8e8e8;
  margin: 1rem 5rem;
}

.form-container {
  margin: 1rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  gap: 0.5rem;
}

.form-title {
  color: #888;
}

input {
  border: 1px solid #e8e8e8;
  padding: 1rem;
}

#category-input {
  padding: 0.5rem;
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  background: #0290ff;
  color: white;
}

#category-input:hover {
  cursor: pointer;
}

#category-input option {
  background: #fff;
  color: #000;
}

.book {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
}

.actions {
  display: flex;
}

.book-info {
  padding: 1rem;
}

.book-info p,
.book-info h1 {
  margin-bottom: 0.5rem;
}

#category {
  font-weight: bold;
  color: #121212;
  opacity: 0.5;
  font-size: 0.875rem;
}

#title {
  font-size: 1.375rem;
  font-weight: bold;
  color: #121212;
}

#author {
  color: #4386bf;
}

.book-progress {
  font-family: 'Montserrat', sans-serif;
  width: 50%;
  padding: 1rem;
}

.progress-textholder {
  width: 50%;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.progress {
  font-size: 2rem;
  font-weight: normal;
  grid-row: 1 / 1;
  grid-column: 2 /2;
  height: 3rem;
}

.progress-text {
  font-size: 0.875rem;
  grid-row: 2 / 2;
  grid-column: 2 / 2;
  color: rgba(0, 0, 0, 0.5);
}

.CircularProgressbar {
  height: 6rem;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.book-current {
  padding: 2rem;
}

.book-current h3 {
  padding-bottom: 0.5rem;
  font-size: 0.8rem;
  font-weight: 300;
  color: #121212;
  opacity: 0.5;
}

button:hover {
  cursor: pointer;
}

.book-button {
  color: #4386bf;
  background-color: transparent;
  border: none;
  padding: 0.5rem;
}

.progress-button {
  background-color: #0290ff;
  border: none;
  padding: 0.5rem 2rem;
  color: white;
  border-radius: 4px;
  margin: 1.5rem 0 2rem 0;
}

.add-button {
  font-family: 'roboto slab', sans-serif;
  padding: 0.75rem 2.5rem;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #0290ff;
}

.book-button:nth-child(2) {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.book-button:hover {
  color: #0290ff;
  font-weight: bold;
}

.add-button:hover,
.progress-button:hover {
  background-color: #0069d9;
  transform: translateY(-1px);
}

.add-button:active,
.progress-button:active {
  background-color: #0062cc;
  transform: translateY(1px);
}

@media screen and (min-width: 768px) {
  .home-title {
    font-size: 3rem;
  }

  .home-p {
    font-size: 1.5rem;
  }

  .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 4rem;
    background-color: #fff;
    border-bottom: 1px solid #e8e8e8;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  }

  .nav-icon {
    font-size: 1.5rem;
    align-self: center;
  }

  .links {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
  }

  .book {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
    margin-bottom: 1rem;
    border-radius: 4px;
    border: solid 1px #e8e8e8;
  }

  #title-input {
    width: 80%;
  }

  #author-input {
    width: 70%;
  }
}

@media screen and (min-width: 1280px) {
  .links {
    flex-direction: row;
  }

  .list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem 5rem;
  }

  .book-info {
    width: 40%;
    padding: 2rem 1rem 1.5rem 1.5rem;
  }

  .book-progress {
    font-family: 'Montserrat', sans-serif;
    width: 15%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .progress-textholder {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .book-current {
    width: 30%;
    padding: 2rem;
  }

  .form-container {
    padding: 1rem;
    margin: 1rem 5rem;
    text-align: start;
  }

  .form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 1rem 0;
    gap: 1rem;
  }

  #title-input {
    width: 40%;
  }

  #author-input {
    width: 30%;
  }

  #category-input {
    width: 10%;
    padding: 0.5rem;
    border: 1px solid #e8e8e8;
    border-radius: 6px;
    background: #0290ff;
    color: white;
  }
}
